$dark-primary-color: #1076d2;
$light-primary-color: #bbdefb;
$primary-color: #2196f3;
$fore-color: #f0f0ff;
$accent-color: #ffeb3b;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f6f8f8;
$divider-color: #bdbdbd;
$error-color: #ff5252;
$warning-color: #fbc02d;
