@mixin font-pokemon($text-color, $stroke-color, $stroke-width: 2) {
  font-family: Pokemon;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  color: $text-color;
  transform: translateY(-0.3rem);

  @if $stroke-width {
    $text-shadow: #{$stroke-width}px #{$stroke-width}px #{$stroke-color};

    @for $i from $stroke-width - 1 through 1 {
      $text-shadow: -#{$i}px -#{$i}px #{$stroke-color}, -#{$i}px #{$i}px #{$stroke-color},
        #{$i}px -#{$i}px #{$stroke-color}, #{$i}px #{$i}px #{$stroke-color},
        -#{$i}px -#{$i + 1}px #{$stroke-color}, -#{$i}px #{$i + 1}px #{$stroke-color},
        #{$i}px -#{$i + 1}px #{$stroke-color}, #{$i}px #{$i + 1}px #{$stroke-color},
        -#{$i + 1}px -#{$i}px #{$stroke-color}, -#{$i + 1}px #{$i}px #{$stroke-color},
        #{$i + 1}px -#{$i}px #{$stroke-color}, #{$i + 1}px #{$i}px #{$stroke-color}, #{$text-shadow};
    }

    text-shadow: $text-shadow;
    -webkit-text-stroke: 1px $stroke-color;
  }
}
