@import 'colors';

$list-bg-color: $primary-bg-color;
$list-divider-color: rgba($divider-color, 0.5);

.pokemon-list {
  padding: 0.5rem 1rem;

  > .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid 1px $list-divider-color;

    &:first-of-type {
      border-top-color: transparent;
    }

    > .column {
      padding: 0.5rem;

      &.-grow {
        flex-grow: 1;
      }

      > .button {
        + .button {
          margin-left: 0.5rem;
        }
      }
    }

    > .icon-holder {
      .icon {
        border-radius: 100%;
        width: 3.5rem;
        height: 3rem;
      }
    }

    > .info-holder {
      > .secondary-text {
        font-size: 0.8em;
      }
    }

    > .tool-column {
      text-align: right;
    }
  }

  > .placeholder {
    text-align: center;
  }
}
