@import 'colors';

$list-bg-color: $primary-bg-color;
$list-divider-color: rgba($divider-color, 0.5);

.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  > .item {
    flex: 1;
    min-width: 20w0px;
    padding: 0.5rem;
    box-sizing: border-box;

    > .card {
      padding: 0.5rem 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;

      > .info-holder {
        padding: 0 1rem;

        > .secondary-text {
          font-size: 0.9rem;
        }
      }

      > .tools-holder {
        padding: 0 1rem;

        > .button {
          padding-left: 0;
          padding-right: 0;

          + .button {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
