<div class="card">
  <form class="pokemon-form" [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label class="label">Name:</label>
      <div class="input-holder">
        <input
          id="name"
          name="name"
          formControlName="name"
          class="input"
          [ngClass]="{ '-error': hasError('name') }"
        />
        <div *ngIf="hasError('name')" class="message -error">{{ getErrorMessage('name') }}</div>
      </div>
    </div>
    <div class="row">
      <label class="label">Class:</label>
      <div class="input-holder">
        <select
          id="class"
          name="class"
          formControlName="class"
          class="input"
          [ngClass]="{ '-error': hasError('class') }"
        >
          <option
            *ngFor="let pokemonClass of pokemonClasses"
            [value]="pokemonClass.name"
          >
            {{ pokemonClass.name }}
          </option>
        </select>
        <div *ngIf="hasError('class')" class="message -error">{{ getErrorMessage('class') }}</div>
      </div>
    </div>
    <div class="row">
      <label class="label">CP:</label>
      <div class="input-holder">
        <input
          id="cp"
          name="cp"
          formControlName="cp"
          class="input"
          type="number"
          appNumericInput
          [ngClass]="{ '-error': hasError('cp') }"
        />
        <div *ngIf="hasError('cp')" class="message -error">{{ getErrorMessage('cp') }}</div>
      </div>
    </div>
    <div class="row tools">
      <button type="submit" class="button -primary">Save</button>
      <button class="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>    
</div>
