.pokemon-form {
  padding: 1rem 0;

  > .row {
    display: flex;
    padding: 0.2em 0.5rem;

    > .label {
      flex-basis: 100px;
    }

    > .input {
      &.-error {
        border-color: #ee5566;
      }
    }

    > .message {
      font-size: 0.8rem;
      padding: 0 1rem;

      &.-error {
        color: #ee5566;
      }
    }
  }
}
